@import "tailwindcss";

@theme {
  --color-fondo-crema: #FDFBF4;
  --color-texto-pizarra: #5D6D7E;
  --color-accion-verde: #9ABF9E;
  --color-borde-azul: #92A8BF;
  --color-acento-naranja: #E9E1C6;
  
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  background-color: var(--color-fondo-crema);
  color: var(--color-texto-pizarra);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
